h1{
    text-align: center;
    color:crimson;
}

/* div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
} */

.contenedor{
    margin: 50px auto;
    width: 250px;
    height: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.icono-azul{
    font-size: 2.5em; 
    color:cornflowerblue;
}

.icono-rojo{
    font-size: 2.5em; 
    color:crimson;
}

.button{

}